body {
  margin: 0;
}

.live-view {
  height: 50vh;
  display: flex;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  overflow: hidden;
}

.editor {
  height: 50vh;
  display: flex;
  background-color: rgb(60 63 68);
  padding-bottom: 0.8rem;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: hsl(225, 42%, 33%);
  color: white;
  padding: .5rem .5rem .5rem 1rem;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}

input {
  width:100%;
  display:block;
  padding: 0.6rem 2rem;
  border-radius: 0.4rem;
  border:none;
  flex-grow:1;
  margin-top: 0.6rem;
  cursor:e-resize;
  
  background-color: rgba(14, 12, 12, 0.473);
}

.editor-container {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  background-color: hsl(225, 6%, 25%);
}


.file-explorer{
  width: auto;
  height: auto;
  flex-grow:1;
  flex-direction: row;
  display:flex;
  padding: 10rem;
  background-color: black;
}

.CodeMirror {
  height: 100% !important;
}
